.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 700;
  font-size: xx-large;
}

.links {
  margin-top: 50px;
  display: flex;
  flex-flow: row;
  gap: 20px;
}

.discord {
  color: #5865f2;
}
.discord:hover {
  color: #404eed;
}

.twitter {
  color: #1da1f2;
}
.twitter:hover {
  color: #1573ad;
}

.tiktok {
  color: #25f4ee;
}
.tiktok:hover {
  color: #19afaa;
}

.youtube {
  color: #ff0000;
}
.youtube:hover {
  color: #af0101;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
